<p id="notice"><%= notice %></p>
<p>
  <strong>Project</strong>
  <%= @property.project.name %>
</p>
<p>
  <strong>Data Type</strong>
  <%= @property.property_type.name %>
</p>
<p>
  <strong>Name</strong>
  <%= @property.name %>
</p>
<p>
  <strong>Order</strong>
  <%= @property.order %>
</p>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
