<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @project.order %>
</p>
<% unless @project.items.nil? %>
  <p>
    <strong>Items:</strong>
  </p>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @project.items.each do |item| %>
        <tr>
          <td><%= link_to 'Show', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% unless @project.properties.nil? %>
  <p>
    <strong>Properties</strong>
    <table>
      <thead>
        <tr>
          <th>Order</th>
          <th>Name</th>
          <th>Type</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |p| %>
          <tr>
              <td><%= p.order %></td>
              <td><%= p.name %></td>
              <td><%= p.property_type.name %></td>
              <td><%= link_to 'Show', p %></td>
              <td><%= link_to 'Edit', edit_property_path(p) %></td>
              <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
  <p>
    <table>
      <thead>
        <tr>
          <% @properties.each do |p| %>
            <th><%= p.name %></th>
          <% end %>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        <% @project.items.each do |item| %>
          <tr>
            <% @properties.each do |p| %>
              <td>
                <input type="text" />
              </td>
            <% end %>
              <td>
                <input type="file" />
          </tr>
        <% end %>
      </tbody>
    </table>

  </p>
<% end %>


<p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</p>
